@import url(jogo.css);

.modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;

  z-index: 1;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.52);

  overflow: auto;
}

.modal .content {
  background-color: white;
  width: 70%;

  border-radius: 2em;
  padding: 10%;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 2em;
}

.button-row,
.text-row,
.result-row {
  display: flex;
  flex-direction: row;
}
