@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Plaster&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --base-white: #eee;
  --base-black: #111;

  --primary: #d52441;
  --alt-primary: #a04053;
  --on-surface: #252832;
  --surface: #e9f1f7;
  --alt-surface: #a5c3da;
  --contrast: #4236ab;

  --h1-font-size: 32pt;
  --h2-font-size: 32pt;
  --p-font-size: 14pt;

  --header-bg-color: var(--alt-surface);
  --header-txt-color: var(--on-surface);

  --main-bg-color: var(--surface);
  --main-txt-color: var(--on-surface);

  --card-bg-color: var(--alt-surface);
  --card-txt-color: var(--on-surface);

  --footer-bg-color: var(--alt-surface);
  --footer-txt-color: var(--on-surface);

  --button-bg-color: var(--primary);
  --button-text-color: var(--surface);
}

html[data-theme="light"] {
  --main-bg-color: var(--base-white);
  --main-txt-color: var(--base-black);

  --card-bg-color: var(--base-white);
  --card-txt-color: var(--base-black);

  --footer-bg-color: var(--dark-gray);
  --footer-txt-color: var(--base-white);

  --button-bg-color: var(--base-red);
  --button-text-color: var(--base-white);
}

html {
  scroll-padding-top: 6em;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  min-height: 100dvh;
  width: 100dvw;
  padding: 0;
  margin: 0;

  font-family: "Libre Baskerville", serif;
}

header {
  background-color: var(--header-bg-color);
  color: var(--header-txt-color);

  height: 4em;

  position: sticky;
  top: 0;
  padding: 0 10%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 100%;
  width: 30%;
}

.nav-button {
  padding: 1% 10%;
  height: 100%;
  width: 50%;

  color: var(--on-surface);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  transition: 0.3s;
}

.nav-button:hover {
  background-color: var(--surface);
  color: var(--primary);
  border-bottom: solid;
}

.nav-button:active {
  background-color: var(--alt-surface);
}

.nav-text {
  text-decoration: none;
  font-family: "Encode Sans", sans-serif;
  font-size: 16pt;
  font-weight: 600;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 400;
  font-family: "Plaster", sans-serif;
  transition: 0.3s;
}

h1:hover {
  color: var(--primary);
}

h2 {
  margin-bottom: 5%;
  font-family: "Encode Sans", sans-serif;

  font-size: var(--h2-font-size);
  font-weight: 900;

  border-bottom: solid;
  border-color: var(--main-txt-color);
}

main {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  padding: 2.5% 10%;
}

section {
  height: 60vh;

  border-bottom: solid;
  border-color: var(--base-red);
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  box-shadow: 0em 0.125em var(--on-surface);
  outline: none;

  border: none;
  padding: 5%;
  font-size: 12pt;
  border-radius: 1em;
  transition: all 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: var(--alt-primary);
}

button:active {
  box-shadow: inset 0em 0.25em var(--on-surface);
}

.hero {
  height: 95dvh;
  border: none;
  background-color: var(--on-surface);
  color: var(--surface);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.hero img {
  width: 30%;
  height: fit-content;
}

.hero h1 {
  font-size: 42pt;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: var(--card-bg-color);
  color: var(--card-txt-color);
  border-radius: 1em;
  padding: 2em;

  box-shadow: 0em 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.card > .card-text {
  margin-bottom: 10%;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  /* grid-template-rows: 50% 1fr 10%; */
}

.projects-grid {
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(4, 1fr);
}

footer {
  color: var(--footer-txt-color);
  background-color: var(--footer-bg-color);
}
